@import url("https://s3.ap-northeast-2.amazonaws.com/seholee.com/pretendard/fonts.css");

body {
  background-color: #272822;
  margin: 0;
	font-family: "Pretendard";
}

/* re-resizable explorer resizing option. this option blocks height drag*/
.pointer-events-none {
  pointer-events: none;
	display: none;
}

/* Custom Scrollbar Styling */

/* Width and color of the scrollbar */
::-webkit-scrollbar {
	width: 12px; /* Adjust the width as needed */
	height: 12px; /* For horizontal scrollbars */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
	background: #272822;
	border: solid 1px #474844;
	border-width: 0px 1px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
	background: #474844;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}


:not(pre) > code[class*="language-"], pre[class*="language-"] {
	background-color: #111 !important;
}