body {
  background-color: #272822;
  margin: 0;
	font-family: "Pretendard";
}

/* hide minimap on firefox and < 1400px*/
@-moz-document url-prefix() {
	.hide-on-firefox {
			display: none;
	}
}

@media (max-width: 1400px) {
	.hide-on-1400 {
			display: none;
	}
}

/* re-resizable explorer resizing option. this option blocks height drag*/
.pointer-events-none {
  pointer-events: none;
	display: none;
}

/* Custom Scrollbar Styling */

/* Width and color of the scrollbar */
::-webkit-scrollbar {
	width: 12px; /* Adjust the width as needed */
	height: 12px; /* For horizontal scrollbars */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
	background: #272822;
	border: solid 1px #474844;
	border-width: 0px 1px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
	background: #474844;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}


/* minimap logic */
.minimap-container {
	position: fixed;
	top: 36px;
	right: 40px;
}

.minimap-container .markdown-content {
	zoom: 0.15;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: url(/fonts/Pretendard-Black.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: url(/fonts/Pretendard-ExtraBold.woff2) format('woff2')
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/Pretendard-Bold.woff2) format('woff2')
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: url(/fonts/Pretendard-SemiBold.woff2) format('woff2')
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/Pretendard-Medium.woff2) format('woff2')
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Pretendard-Regular.woff2) format('woff2')
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/Pretendard-Light.woff2) format('woff2')
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: url(/fonts/Pretendard-ExtraLight.woff2) format('woff2')
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: url(/fonts/Pretendard-Thin.woff2) format('woff2')
}