:root {
  --deckgo-highlight-code-font-family: consolas, sans-serif;
}

.markdown-content {
  color: white;
  font-family: "Pretendard";
  font-size: 16px;
  max-width: 1100px;
  min-height: calc(100vh - 200px)
}

@media (max-width: 1670px) {
  .markdown-content{
    max-width: 800px;
  }
}

@media (max-width: 1050px) {
  .markdown-content{
    min-height: calc(100vh - 250px);
    max-width: 100%;
  }
}

@media (max-width:768px) {
  .markdown-content{
    min-height: calc(100vh - 200px);
    max-width: 100%;
  }
}

.markdown-content h2,
.markdown-content h3 {
  font-weight: 300;
}

.markdown-content .subtitle {
  margin-bottom: 10px;
  font-size: 24px;
}

.markdown-content p {
  line-height: 150%;
}

.markdown-content li {
  margin: 0px 0px 10px 0px;
  line-height: 150%;
}

.markdown-content li p {
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .markdown-content ul {
    padding-left: 20px;
  }
}

.markdown-content a {
  color: #a6e22e;
  text-decoration: underline #a6e22e;
}

.markdown-content .text-time {
  font-size: 14px;
  margin: 0px;
  color: #b4b4b4;
}

/* video styling */
.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 0px;
}

video {
  width: 100%;
}

/* img styling */
.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 0px;
}
.image-container img {
  width: 100%;
}
@media (max-width :1050px) {
  .image-container{
    width: 100%;
  }
}
/* img styling ends */

.markdown-content table {
  border-collapse: collapse; /* Ensures that the border is clean and joined */
}

.markdown-content table th,
.markdown-content table td {
  border: 1px solid #aaa; /* Sets the border color for table cells */
  padding: 8px; /* Adds some padding inside cells for better readability */
}

.link-icon {
  width: 18px;
  vertical-align: text-bottom;
}

.text-skyblue {
  color: #66d9ef;
}

.text-blue {
  color: #1f9fff;
}

.text-grey {
  color: #b4b4b4;
}

.text-red {
  color: #f92672;
}

.text-pink {
  color: #da70d6;
}

.text-purple {
  color: #ae81ff;
}

.text-green {
  color: #a6e22e;
}

.text-orange {
  color: #f6931f;
}

.text-yellow {
  color: #ffd700;
}
